----------------------------- BE CAREFULL ---------------------------------
-- TO MAKE THIS THING WORKING, RENAME OR COPY THE FILE TO "s_config.lua" --
---------------------------------------------------------------------------

---------------------------------------------------------------------------
-- DATABASE ---------------------------------------------------------------
---------------------------------------------------------------------------
SQL_HOST = "localhost"
SQL_PORT = 3306
SQL_USER = "root"
SQL_PASS = ""
SQL_DATA = "orp_core"
SQL_CHAR = "utf8mb4_bin"
SQL_LOGL = "debug"

---------------------------------------------------------------------------
-- MISC -------------------------------------------------------------------
---------------------------------------------------------------------------
DEV_MODE = 1              -- Will activate the commands to control the core

---------------------------------------------------------------------------
-- CHARACTERS -------------------------------------------------------------
---------------------------------------------------------------------------
CHAR_MAX = 1          -- Number of characters a player is allowed to create
CHAR_TIMER_AUTOSAVE = 30                                      -- In seconds
CHAR_DEFAULT_SPAWN = { x= 125773, y= 80246, z= 1645, h= 0} -- Default spawn